*{
    margin: 0;
    padding: 0;
}
body{
    background-color: purple;
    font-family: 'Open Sans', sans-serif;
    display: inline;
}
header{
    background-color: royalblue;
    height: 100px;
}
nav{
    float: right;
    background-color: goldenrod;
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
li{
    background-color: darkgoldenrod;
    float: left;
    width: 25%;
    list-style: none;
    border-radius: 20px;
    text-align: center;
}

main{
    background-color: white;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside{
    background-color: green;
    width: 30%;
}

footer{
    width: 100%;
    height: 100%;
    background-color: crimson;
}

.fix{
    clear: both;
}
